@model StudyGroups.Models.Subject
@{
    ViewBag.Title = "Details";
    bool isAdmin = Session["UserRole"] != null && Session["UserRole"].ToString() == "Admin";
    bool isUser = Session["UserRole"] != null && Session["UserRole"].ToString() == "User";
}
<h2>Details</h2>
<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @if (isUser)
    {
        @Html.ActionLink("Create Study Group for this Subject", "CreateForSubject", "StudyGroups", new { id = Model.SubjectID }, null)
        @:|
    }
    @if (isAdmin)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectID })
        @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>