@model StudyGroups.Models.StudyGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudyGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @if (Session["UserID"] != null && Model.CreatorUserID == (int)Session["UserID"])
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudyGroupID })
        <text> | </text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
