@model StudyGroups.Models.StudyGroup

@{
    ViewBag.Title = "Details";
    bool isLoggedIn = Session["UserID"] != null;
    bool isCreator = isLoggedIn && Model.CreatorUserID == (int)Session["UserID"];
    bool isMember = isLoggedIn && Model.Members != null && Model.Members.Any(m => m.UserID == (int)Session["UserID"]);
    bool canCreateSession = isCreator || isMember;
}

<h2>Details</h2>

<div>
    <h4>StudyGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @if (canCreateSession)
    {
        @Html.ActionLink("Create Session for this Study Group", "CreateForStudyGroup", "Sessions", new { id = Model.StudyGroupID }, null)
        <text> | </text>
    }
    @if (isCreator)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudyGroupID })
        <text> | </text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
