@model IEnumerable<StudyGroups.Models.StudyGroup>
@{
    ViewBag.Title = "Study Groups";
    string currentFilter = ViewBag.CurrentFilter ?? "all";
    string searchString = ViewBag.SearchString;
}

<h2>Study Groups</h2>

<div style="margin-bottom: 20px;">
    @using (Html.BeginForm("Index", "StudyGroups", FormMethod.Get, new { @class = "form-inline" }))
    {
        <input type="hidden" name="filter" value="@currentFilter" />
        <div class="form-group" style="margin-right: 10px;">
            <input type="text"
                   name="searchString"
                   value="@searchString"
                   class="form-control"
                   placeholder="Search by name, description, or subject..."
                   style="width: 300px;" />
        </div>
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
        if (!String.IsNullOrEmpty(searchString))
        {
            @Html.ActionLink("Clear", "Index", new { filter = currentFilter }, new { @class = "btn btn-link" })
        }
    }
</div>

@* Tab Navigation *@
@if (Session["UserID"] != null)
{
    <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li class="@(currentFilter == "all" ? "active" : "")">
            @Html.ActionLink("All Groups", "Index", new { filter = "all", searchString = searchString }) |
        </li>
        <li class="@(currentFilter == "created" ? "active" : "")">
            @Html.ActionLink("Created by Me", "Index", new { filter = "created", searchString = searchString }) |
        </li>
        <li class="@(currentFilter == "joined" ? "active" : "")">
            @Html.ActionLink("Joined Groups", "Index", new { filter = "joined", searchString = searchString }) |
        </li>
        <li class="@(currentFilter == "available" ? "active" : "")">
            @Html.ActionLink("Available Groups", "Index", new { filter = "available", searchString = searchString }) 
        </li>
    </ul>
}


@if (TempData["Debug"] != null)
{
    <div style="background-color: red; color: white; padding: 10px;">
        @TempData["Debug"]
    </div>
}

@if (Session["UserID"] != null && Session["UserRole"]?.ToString() == "User")
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Creator.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (Session["UserID"] != null && item.CreatorUserID == (int)Session["UserID"])
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudyGroupID })
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudyGroupID })
                    <text> | </text>
                }
                @Html.ActionLink("Details", "Details", new { id = item.StudyGroupID })
            </td>
        </tr>
    }
</table>